body{background-color: blueviolet}
h1, h2 {font-size: 50px; text-align: center; color: #5681F0}
p {background-color: #17a; text-align: justify; color: purple;}

#capa {width: 100%; }
#imagem2 {width: 70%; border: 20px; solid grey; margin-left:150px}
